---
layout: default
title: "Tattvavada"
---
<div class="introduction">

<p>Tattvavada is a school of Vedantic thought that promulgates theism, realism and plurality. It was founded by Madhvāchāryā as a direct reaction against the tenets of Advaitā. The site is a repository of articles on the philosophy of Madhvā and his followers but not restricted to it. The articles will focus on the broader implications of the philosophy on the people through history and culture. The articles are linked below. In the <a href="{{ site.baseurl }}/appendices/">appendices</a>,  I will expand upon the tools I will be using to interpret the philosophy and its impact. Please read the <a href="{{ site.baseurl }}/prolegomena/">preface</a>  before proceeding.  As the articles require deep research, I will not work on a time-honoured basis. They will be uploaded when they organically reach a stage of completion. I hope the site will be of some use to you. </p>
</div>

<hr>

<!--<div class="toc">
  <h2>Articles</h2>
  <ul class="texts">
  {% for item in site.texts %}
  
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>-->

{% assign groups = site.texts | group_by:"category" %}
{% for group in groups %}
    
    <h2><b>{{group.name | upcase}}</b></h2>
    {% for item in group.items %}
            <li class="text-title">
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </li>
    {% endfor %}
   

{% endfor %}


<!--{% assign groups = site.texts | group_by:"category" %}
{% for group in groups %}
    
    <h2><b>{{group.name | upcase}}</b></h2>
           <div class="row">
               {% for item in group.items %}
             <div class="column">
               <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
             </div>
             {% endfor %}

           </div>-->
           
   

{% endfor %}
