---
layout: default
---

<div class="introduction">
     <!--<p>These appendices contain explanations on the tools and frameworks used in the analysis. They may  also contain supplementary material on miscellaneous topics indirectly related to the main topic at hand.</p>-->
     {{content}}
</div>

<div class="toc">
    <h2>Articles</h2>
    <ul class="texts">
        {% for item in site.hinduism %}
        
        <li class="text-title">
            <a href="{{ site.baseurl }}{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

